body{
    background-image:url(/image/background-watermark.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    color: white;
}

footer{
    margin-top: auto;
    font-size: 25px;
}