*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image:url(/image/background-watermark.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    color: white;
    padding-top: 80px;
    justify-content: center;
    align-content: center;
}

footer{
    background-color: #111;
}

.footerConteiner{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcon{
    display: flex;
    justify-content: center;
}

.socialIcon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 20%;
    transition: 0.5s;
}

.socialIcon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effect on Social Icons */
/* Эффект наведения курсора на значки социальных сетей */
.socialIcon a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcon a:hover i{
    color: white;
    transition: 0.6s;
}

.footerNav{
    margin: 30px 0px;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.5;
    transition: 0.4s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBotton{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBotton p{
    color: white;
    font-size: 20px;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width: 700px){
    .footerNav{
        flex-direction: column; 
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 11px 11px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo a{
    color: white;
    font-size: 1.5em;
    user-select: none;
    font-family: sans-serif;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    font-family: sans-serif;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .2s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: .4s;
}

.navigation .btnLogin:hover {
    background-color: #bcbcbc;
    color: black;
}

/* Login Window */
.wrapper {
    position:absolute;
    top: 50%;
    left: 36%;
    margin-top: -222px;
    width: 400px;
    height: 440px;
    background: transparent;
    background-color: #111;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
    transform: scale(0);
    transition: transform .2s ease,height .2s ease;
}

.wrapper.active-login {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box.login {
    transition: transform .25s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    position: absolute;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}


.wrapper.active .form-box.register {
    transition: transform .25s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 1.8em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d01f1f;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .2s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    font-weight: 600;
    padding: 0px 35px 0px 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;    
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color: #2989fe;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 60px;
    font-size: 1.1em;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 20px 0px 10px;

}

.login-register p a {
    color: #2989fe;
    text-decoration: none;
    font-weight: 500;
    margin-left: 7px;
}

.login-register p a:hover {
    text-decoration: underline;
}