*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image:url(/image/background-watermark.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    color: white; 
}

footer{
    background-color: #111;
    
}

.footerConteiner{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcon{
    display: flex;
    justify-content: center;
}

.socialIcon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 20%;
    transition: 0.5s;
}

.socialIcon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effect on Social Icons */
/* Эффект наведения курсора на значки социальных сетей */
.socialIcon a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcon a:hover i{
    color: white;
    transition: 0.6s;
}

.footerNav{
    margin: 30px 0px;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.5;
    transition: 0.4s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBotton{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBotton p{
    color: white;
    font-size: 20px;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width: 700px){
    .footerNav{
        flex-direction: column; 
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    color: white;
    font-size: 2em;
    user-select: none;
    font-family: sans-serif;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    font-family: sans-serif;
}

.navigation .btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin:hover {
    background-color: gray;
    color: black;
}